*.bak
*.swp
*.tmp
*~.nib
*.iml
*.launch
*.swp
*.log
*.lock
*.bin
*.class
.classpath
.DS_Store
.externalToolBuilders/
.gradle
.idea
.loadpath
.metadata
.prefs
.project
.recommenders/
.settings
.springBeans
.vertx
bin
/*/bin/
local.properties
target/
tmp/
build/
/*/build/
out/
docker/reports/*
